{{- define "encodeAllMeta" -}}
func ({{.Recv}} *{{.Struct}}) EncodeAllMetadata(pkt *packet.OutboundPacket) {
{{- range .Parents }}
	{{$.Recv}}.{{.}}.EncodeAllMetadata(pkt)
{{- end }}
{{- range .Fields }}
{{- if not .NoEncode }}
{{- if isEmptyDefault .Default }}
	if {{$.Recv}}.{{.FieldName}} != ({{.FieldType}}{}) {
{{- else if .Default }}
	if {{$.Recv}}.{{.FieldName}} != {{.Default}} {
{{- else }}
	if {{$.Recv}}.{{.FieldName}} != {{zeroExpr .}} {
{{- end }}
{{- if .Raw }}
		_ = pkt.Encode(mc.UnsignedByte({{.Index}}), mc.VarInt(metadata.Type{{.MetaType}}), {{$.Recv}}.{{.FieldName}})
{{- else }}
		_ = pkt.Encode(mc.UnsignedByte({{.Index}}), mc.VarInt(metadata.Type{{.MetaType}}), mc.{{.Cast}}({{$.Recv}}.{{.FieldName}}))
{{- end }}
	}
{{- end }}
{{- end }}
}

{{ end -}}
