{{- define "factory" -}}
func NewFromType(t ID, dimension string, pos [3]float64, rot [2]float32) Entity {
	switch t {
{{- range . }}
	case {{.Type}}:
		return New{{.Name}}(dimension, pos, rot)
{{- end }}
	default:
		return nil
	}
}

{{ end -}}
