{{- define "initDefaults" -}}
func ({{.Recv}} *{{.Struct}}) InitMetaDefaults() {
{{- range .Parents }}
	{{$.Recv}}.{{.}}.InitMetaDefaults()
{{- end }}
{{- range .Fields }}
{{- if and .Default (not (isEmptyDefault .Default)) }}
	{{$.Recv}}.{{.FieldName}} = {{.Default}}
{{- end }}
{{- end }}
}

{{ end -}}
