{{- define "nbtAccessors" -}}
func ({{.Recv}} *{{.Struct}}) NbtRoot() (any, error) {
	return nbtpath.MarshalToValue({{.Recv}})
}

func ({{.Recv}} *{{.Struct}}) NbtGet(path nbtpath.Path) (any, error) {
	root, err := nbtpath.MarshalToValue({{.Recv}})
	if err != nil {
		return nil, err
	}
	anchors, err := nbtpath.Resolve(root, path)
	if err != nil {
		return nil, err
	}
	if len(anchors) == 0 {
		return nil, nbtpath.ErrPathNotFound
	}
	return anchors[0].Value(), nil
}

{{- if eq .Nbt "accessors" "both" }}

func ({{.Recv}} *{{.Struct}}) NbtSet(path nbtpath.Path, v any) (int, error) {
	snap := {{.Recv}}.MetaSnapshot()
	m, err := nbtpath.MarshalToValue({{.Recv}})
	if err != nil {
		return 0, err
	}
	n, err := nbtpath.Set(m, path, v)
	if err != nil {
		return 0, err
	}
	if err := nbtpath.WriteBack({{.Recv}}, m); err != nil {
		return 0, err
	}
	{{.Recv}}.MetaDiffMark(snap)
	return n, nil
}

func ({{.Recv}} *{{.Struct}}) NbtAppend(path nbtpath.Path, v any) (int, error) {
	snap := {{.Recv}}.MetaSnapshot()
	m, err := nbtpath.MarshalToValue({{.Recv}})
	if err != nil {
		return 0, err
	}
	n, err := nbtpath.Append(m, path, v)
	if err != nil {
		return 0, err
	}
	if err := nbtpath.WriteBack({{.Recv}}, m); err != nil {
		return 0, err
	}
	{{.Recv}}.MetaDiffMark(snap)
	return n, nil
}

func ({{.Recv}} *{{.Struct}}) NbtPrepend(path nbtpath.Path, v any) (int, error) {
	snap := {{.Recv}}.MetaSnapshot()
	m, err := nbtpath.MarshalToValue({{.Recv}})
	if err != nil {
		return 0, err
	}
	n, err := nbtpath.Prepend(m, path, v)
	if err != nil {
		return 0, err
	}
	if err := nbtpath.WriteBack({{.Recv}}, m); err != nil {
		return 0, err
	}
	{{.Recv}}.MetaDiffMark(snap)
	return n, nil
}

func ({{.Recv}} *{{.Struct}}) NbtInsert(path nbtpath.Path, idx int, v any) (int, error) {
	snap := {{.Recv}}.MetaSnapshot()
	m, err := nbtpath.MarshalToValue({{.Recv}})
	if err != nil {
		return 0, err
	}
	n, err := nbtpath.Insert(m, path, idx, v)
	if err != nil {
		return 0, err
	}
	if err := nbtpath.WriteBack({{.Recv}}, m); err != nil {
		return 0, err
	}
	{{.Recv}}.MetaDiffMark(snap)
	return n, nil
}

func ({{.Recv}} *{{.Struct}}) NbtRemove(path nbtpath.Path) (int, error) {
	snap := {{.Recv}}.MetaSnapshot()
	m, err := nbtpath.MarshalToValue({{.Recv}})
	if err != nil {
		return 0, err
	}
	n, err := nbtpath.Remove(m, path)
	if err != nil {
		return 0, err
	}
	if err := nbtpath.WriteBack({{.Recv}}, m); err != nil {
		return 0, err
	}
	{{.Recv}}.MetaDiffMark(snap)
	return n, nil
}

func ({{.Recv}} *{{.Struct}}) NbtMerge(src map[string]any) (int, error) {
	snap := {{.Recv}}.MetaSnapshot()
	m, err := nbtpath.MarshalToValue({{.Recv}})
	if err != nil {
		return 0, err
	}
	root, ok := m.(map[string]any)
	if !ok {
		return 0, nbtpath.ErrNotACompound
	}
	n, err := nbtpath.MergeRoot(root, src)
	if err != nil {
		return 0, err
	}
	if err := nbtpath.WriteBack({{.Recv}}, root); err != nil {
		return 0, err
	}
	{{.Recv}}.MetaDiffMark(snap)
	return n, nil
}

func ({{.Recv}} *{{.Struct}}) NbtMergeAt(path nbtpath.Path, src map[string]any) (int, error) {
	snap := {{.Recv}}.MetaSnapshot()
	m, err := nbtpath.MarshalToValue({{.Recv}})
	if err != nil {
		return 0, err
	}
	n, err := nbtpath.MergeAt(m, path, src)
	if err != nil {
		return 0, err
	}
	if err := nbtpath.WriteBack({{.Recv}}, m); err != nil {
		return 0, err
	}
	{{.Recv}}.MetaDiffMark(snap)
	return n, nil
}
{{- end }}

{{ end -}}
